@import "tailwindcss";
@import "@mdi/font/css/materialdesignicons.min.css";
@source "../views";
@source "./../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views";
@plugin "flowbite/plugin";

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: -ms-autohiding-scrollbar; 
    -ms-overflow-style: none;
}